.Synkd_Logo {
  height: 9rem;
  padding-top: 2rem;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.ion_header {
  position: relative;
  background-color: gray;
}

.toolbar-backgroundColor {
  background-color: gray;
}

.ion_page {
  color: #9d9fa6 !important;
}

.ion_content {
  --ion-background-color: #e1eaf9 !important;
}

.ion-img {
  height: 100px;
  width: 100px;
  justify-content: center;
}

ion-item {
  --highlight-color-focused: none;
}

.email_field {
  padding-top: 2rem !important;
  padding-left: 2rem !important;
  padding-right: 2rem !important;
}

.pwd_field {
  padding-top: 1.5rem !important;
  padding-left: 2rem !important;
  padding-right: 2rem !important;
}

.loginbtn_item {
  padding-top: 3rem !important;
}

.login_btn {
  width: 15rem;
  margin-left: auto;
  margin-right: auto;
}

.col_or {
  text-align: center;
  color: darkgrey;
}

.col_line {
  margin-left: 2rem;
  text-align: center;
}

.login_grid {
  padding-top: 3rem;
}

.social_btns {
  padding-top: 1.5rem;
  text-align: center;
}

.facebookbtn {
  width: 65px;
  height: 65px;
}

.googlebtn {
  width: 70px;
  height: 70px;
  padding-left: 5px !important;
}

.ion_label1 {
  font-size: 16pt !important;
  text-align: center;
}

.home_name {
  margin-top: 10rem;
}
